.has-first-color {
	color: var(--vlt-accent-1);
}

.has-second-color {
	color: var(--vlt-accent-2);
}

.has-gray-color {
	color: var(--vlt-color-4);
}

.has-success-color {
	color: var(--vlt-success-color);
}

.has-warning-color {
	color: var(--vlt-warning-color);
}

.has-danger-color {
	color: var(--vlt-danger-color);
}