/* PARTIAL: DEACTIVATE FORM
-------------------------------------------- */

.vlt-deactivate-form {
	display: flex;
	padding: 2em;
	flex-direction: column;
	background-color: var(--vlt-color-7);
	border-radius: var(--vlt-radius-2);

	&__result {
		padding: 0 0 0 1.5em;
		margin: 2em 0 0;
		font-size: 14px;
		border-left: 2px solid var(--vlt-accent-1);
	}

}