/* PARTIAL: PAGE TITLE
-------------------------------------------- */

.vlt-page-title {
	display: flex;
	align-items: flex-start;
	padding-bottom: 1em;
	margin: 0 0 2em;
	border-bottom: 1px solid var(--vlt-color-4);

	h1 {
		margin-right: auto;

		i {
			margin-right: .4em;
			font-size: 90%;
			color: var(--vlt-color-5);
		}

	}

}