/* PARTIAL: PAGE TITLE
-------------------------------------------- */

.vlt-page-title {
	display: flex;
	align-items: flex-start;
	padding-bottom: px2rem(16px);
	margin-bottom: px2rem(30px);
	border-bottom: 1px solid var(--vlt-border-color-1);

	h1 {
		max-width: 70%;
		margin-right: auto;

		i {
			margin-right: .4em;
			font-size: 90%;
			color: var(--vlt-text-3);
		}

	}

	.vlt-btn {
		margin-top: .25em;
	}

}