/* GHOSTKIT: ALERT
-------------------------------------------- */

.ghostkit-alert {
	padding: 1em;
	color: var(--gkt-alert--icon__color);
	border-radius: 0;

	.ghostkit-alert-icon {
		padding: 5px;
		padding-right: 1em;
	}

	code,
	.code {
		color: inherit;
	}

}