/* GHOSTKIT: BADGE
-------------------------------------------- */

.ghostkit-badge {
	padding: 10px 15px;
	border-radius: var(--vlt-radius-1);

	&-success {
		background-color: var(--vlt-success-color);
		border-color: var(--vlt-success-color);
	}

	&-primary {
		background-color: var(--vlt-accent-2);
		border-color: var(--vlt-accent-2);
	}

}