/* GHOSTKIT: VIDEO
-------------------------------------------- */

.ghostkit-video {

	.ghostkit-video-play-icon,
	.ghostkit-video-loading-icon {
		font-size: 14px;
		color: var(--vlt-color-6);
		background-color: var(--vlt-accent-1);
	}

}