/* Kirki custom type */
.kirki-separator {
	padding: 10px 12px;
	margin: 0 -12px;
	font-weight: 700;
	color: #555d66;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: #fff;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 4px solid #0073aa;
}