/* PAGE: 404
-------------------------------------------- */

.vlt-page--404 {

	p {
		margin-top: px2rem(16px);
		margin-bottom: px2rem(30px);
	}

	.vlt-search-form {
		max-width: px2rem(320px);
	}

}