/* Layout: grid

html
	margin: 0
	padding: 0

/* wrapper

.vlt-site-wrapper
	max-width: 915px
	margin: 0 auto
	padding: 0 15px

/* main

.vlt-main
	position: relative
	overflow: hidden
	border-radius: 6px
	background-color: $c6
	box-shadow: 0 10px 20px rgba($c2, .1)

	&--padding
		padding: 3em 4em

		@media (max-width: 767px)
			padding: 2em

	&-header
		margin: 0 0 2em
		padding-bottom: 1em
		border-bottom: 1px solid $c4

/* grid

.vlt-grid
	display: grid
	grid-gap: 1.5em

	&[data-col="2"]
		grid-template-columns: repeat(2, 1fr)

		@media (max-width: 767px)
			grid-template-columns: repeat(1, 1fr)

	&[data-col="3"]
		grid-template-columns: repeat(3, 1fr)

		@media (max-width: 767px)
			grid-template-columns: repeat(1, 1fr)