/* Partial: search form

.vlt-search-form
	position: relative

	button
		@extend .vlt-btn
		@extend .vlt-btn--primary
		position: absolute
		right: 0
		top: 0
		height: 100%
		padding: 6px 16px
		border-top-left-radius: 0 !important
		border-bottom-left-radius: 0 !important
		transition: $transition