/* WIDGET: CALENDAR
-------------------------------------------- */

.vlt-widget.widget_calendar {

	tr,
	td,
	th {
		text-align: center;
	}

	caption {
		padding: 0 0 px2rem(15px);
		color: var(--vlt-text-2);
		@include vlt_primary_medium_16;
	}

	#today {
		color: var(--vlt-color-white);
		background-color: var(--vlt-accent-1);
	}

}