/* WIDGET: CATEGORIES
-------------------------------------------- */

%vlt-widget-categories,
.vlt-widget.widget_categories {

	li::before {
		content: '▪';
		margin-right: 1em;
		color: var(--vlt-text-3);
	}

	li + li,
	ul.children {
		margin-top: px2rem(10px);
	}

	a {
		margin-right: px2rem(4px);
	}

}