/* WIDGET: RSS
-------------------------------------------- */

.vlt-widget.widget_rss {

	.vlt-widget__title {

		img {
			margin-right: px2rem(4px);
		}

	}

	li {

		.rss-date {
			display: block;
			margin: px2rem(10px) 0;
			color: var(--vlt-text-3);
			@include vlt_primary_regular_12;
		}

		cite {
			margin: px2rem(16px) 0 0;
		}

	}

	li + li {
		margin-top: px2rem(16px);
	}

}