/* WORDPRESS: LINK PAGES
-------------------------------------------- */

.vlt-link-pages {
	margin-top: px2rem(40px);

	h5 {
		margin: 0 0 px2rem(10px);
	}

	a {
		display: inline-flex;
		align-items: center;
	}

	.sep {
		margin: 0 px2rem(16px);
		color: var(--vlt-text-3);
	}

}