/* WORDPRESS: LINK PAGES
-------------------------------------------- */

.vlt-link-pages {
	margin-top: 2.5em;

	h5 {
		margin: 0 0 .6em;
	}

	a {
		display: inline-flex;
		align-items: center;
	}

	.sep {
		margin: 0 1em;
		color: var(--vlt-color-5);
	}

}